@import '../variables';

.news-content {
  min-height: 370px;
  display: flex;
  justify-content: center;
  background: #fff;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  &:nth-child(even) {
    background: #f8f8f8;
  }
  .news-start {
    position: absolute;
    top: 0;
  }
  .center-column {
    flex-direction: column;
    .headers {
      margin-top: 10vw;

      justify-content: center;
    }
    .content-text {
      display: flex;
      flex-direction: column;
      audio {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      a {
        font-family: 'Cinzel';
        letter-spacing: 2px;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        transition: color 0.4s ease-in-out;
        &:hover {
          color: rgb(155, 155, 155);
        }
      }
      padding-right: 20vw;
      padding-left: 20vw;
      @include respond-to(desktop-extra-large) {
        padding-right: 20vw;
        padding-left: 20vw;
      }
      @include respond-to(desktop-large) {
        padding-right: 20vw;
        padding-left: 20vw;
      }
      @include respond-to(mobile) {
        padding-left: 3vw;
        padding-right: 3vw;
      }
      @include respond-to(mobile-small) {
        padding-left: 3vw;
        padding-right: 3vw;
      }
    }
  }
}
